{% extends "base.html" %}

{% block title %}Lista de Cotizaciones - TaskHub{% endblock %}

{% block content %}
<h1>Lista de Cotizaciones</h1>
<table>
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Descripción</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        {% for quote in quotes %}
        <tr>
            <td>{{ quote.client }}</td>
            <td>{{ quote.description }}</td>
            <td>{{ quote.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
